{% set title="CoffePlanet" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

<main class="wrapper">
    <article class="single-article">
        <header>
            <h1>
                The Pros and Cons Experienced by Coffee Professionals
            </h1>
            <time datetime="2019-01-08">January 8, 2019</time>
        </header>
        <figure>
            <source srcset="img/blogpost/webp/img-blog-page-1.jpg" type="image/webp">
            <img src="img/blogpost/jpeg/img-blog-page-1.jpg" alt="article head image">
        </figure>
        <p>
            Thinking back 15-20 years, I remember my parents going about their morning ritual of brewing coffee on
            weekends before burying their faces into a newspaper. It was probably how 90% of households in Germany
            brewed coffee at the time, using an old school batch coffee brewer. I’d watch them pour water in a jug, add
            ground coffee from the supermarket to a Melitta filter and push a button. Scales or thermometers to measure
            the precise amount of coffee or temperature of water were unheard of. And the result was, quite frankly, a
            bitter, dark brew that I’d avoid like the plague.
        </p>
        <p>
            Needless to say, filter coffee didn’t have the best reputation. It wasn’t until the third wave rediscovered
            pour over methods that had once before enjoyed popularity during the middle of the 20th century, that the
            perception of filter coffee changed for the better. I am talking about the Chemex, V60 and Kalita Wave.
            Especially at the beginning of the third wave this gear helped specialty coffee shops to visibly
            differentiate themselves from regular coffee shops. Until today, you’ll find either one of these and/or the
            Aeropress in the majority of specialty cafes. However, I’ve also witnessed more and more third wave coffee
            shops relying solely on batch brew, one example being Bonanza in Berlin Kreuzberg. Progress and innovation
            have slowly improved the negative perception of batch brewers. Prominent automated pour over systems are
            increasingly found in homes of coffee enthusiasts and in third wave cafés. This article is taking a closer
            look at this battle of man vs. machine. I talked to baristas and coffee shop owners to explore their reasons
            for preferring one over the other and put together lists of the pros and cons.
        </p>
        <h2>
            The Pour Over Enthusiasts
        </h2>
        <figure>
            <source srcset="img/blogpost/webp/img-blog-page-2.jpg" type="image/webp">
            <img src="img/blogpost/jpeg/img-blog-page-2.jpg" alt="image of Martina - owner of Retrogusto">
            <figcaption>
                Martina is running Retrogusto, a small take-away coffee place in the Mercado Central of Valencia.
            </figcaption>
        </figure>
        <p>
            Wattanaphon Khamson is a barista at Omnia Cafe in Chiang Mai. His main reason for preferring pour over
            rather than batch brew is that the manual brew allows him to experiment with brewing techniques and adjust
            quickly to the particular coffee beans he is brewing. As an example, Wattanaphon seeks to improve the taste
            of every coffee by adjusting the ratio of the coffee and water during the blooming stage and the amount of
            seconds he allows for blooming. While it is mostly possible to adjust the settings of the batch brewer to do
            the same and to save different profiles for different kinds of coffee (depends on the kind of batch brewer
            of course), he finds it easier to experiment manually. In the Asian countries where I’ve researched the
            coffee scene - Thailand, Taiwan and Japan - batch brew is almost unheard of and especially in Japan and
            Taiwan pour-overs are incredibly popular.
        </p>
        <p>
            Here’s what other coffee professionals thought:
        </p>
        <table>
            <tr>
                <th>The Pros</th>
                <th>The Cons</th>
            </tr>
            <tr>
                <td>By manually brewing coffee the barista can create an experience for customers. Apart from the actual
                    taste of the coffee, the human element can be a decisive factor when it’s about whether a customer
                </td>
                <td>When a café is crowded and there is a number of people ordering pour-overs manual brews can become
                    very time consuming and increase waiting times for customers.</td>
            </tr>
            <tr>
                <td>The manual brew allows the barista to control and adjust every valuable of the brewing process in
                    the moment. </td>
                <td>Consistency is a challenge, especially during rush hours when the barista doesn’t have enough time
                    to give your brew the attention it </td>
            </tr>
            <tr>
                <td>When time allows, the barista can customize the brewing depending on the preference of the customer.
                </td>
                <td>While baristas put more effort and time into manually brewing coffee for their customers, many
                    customers might not actually taste the difference between a manual brew and an automated brew.</td>
            </tr>
        </table>
        <h2>
            The Batch Brew Enthusiasts
        </h2>
        <figure>
            <source srcset="img/blogpost/webp/img-blog-page-3.jpg" type="image/webp">
            <img src="img/blogpost/jpeg/img-blog-page-3.jpg" alt="image David, the owner of Just Coffee in Zurich">
            <figcaption>
                David, the owner of Just Coffee in Zurich, is a batch brew enthusiast.
            </figcaption>
        </figure>
        <p>
            As opposed to Scandinavian countries or Taiwan and Japan, Switzerland has still a very espresso-centered
            coffee market. David Lewis, the owner of Just Coffee in Zurich, is seeking to change the perception of
            filter coffee by making it more accessible to people. To achieve this, he is sticking to batch brew only.
            “It is quick and easy to make batch brew. We brew using the FETCO machine (2131), which is a novelty in
            Switzerland, with an output of 2 liters of specialty coffee in 6 minutes”. On Saturdays, Just Coffee
            organizes “democratic cuppings“ using batch brewed coffee. “We let people in the street taste the difference
            between coffees from Brazil, Ethiopia or Kenya without the slurping sounds and the hype.” Just Coffee is a
            take-away coffee place. “People want their coffee fast and sometimes without the barista’s intervention.
            This is why we love our “self service” batch brew pots where people can just walk up and serve themselves.”
        </p>
        <p>
            Here’s what other coffee professionals thought:
        </p>
        <h3>
            The Pros
        </h3>
        <ul>
            <li>Once the recipe is set and the coffee has been dialed in, the same quality will be achieved batch after
                batch, quick and easy.
            </li>
            <li>If the coffee shop is high volume, batch brew guarantees consistency for each cup of coffee.</li>
            <li>Even though a decent batch brewer will cost much more than pour over gear, time and consequently money
                might be saved in the long run.</li>
        </ul>
        <h3>
            The Cons
        </h3>
        <ul>
            <li>Baristas might engage less with customers when serving batch brew rather than pour-overs.</li>
            <li>At the end of the work day there will be more coffee wasted with batch brewers if it doesn’t sell out.
            </li>
            <li>Depending on the practices and standards of each coffee shop, there is a chance that your batch brewed
                coffee is not fresh. The longer it sits in the brewer the lower the quality becomes.</li>
            <li>Serving a variety of filter coffees requires almost an equal amount of batch brewers in order to serve a
                range of filter coffees in a timely manner.</li>
        </ul>
        <p>
            When deciding on whether to go for batch brew or pour-overs in a café, <strong>coffee shop owners might want
                to
                consider offering both. The specialty coffee lover Dani Bordiniuc is a barista at Lot 61 in
                Amsterdam</strong></strong>, a
            high-volume specialty coffee shop in a prime location. “I think it depends on the environment you’re working
            in, how much staff there is on the bar and how busy it gets. At the end of the day, you want to make
            customers happy and serve a consistently delicious filter coffee. I’m currently working in a café that can
            become extremely busy at times. Therefore, in such moments, when there are so many things to look after, I’m
            recommending batch brew. It’s always fresh, delicious and above everything else, it’s consistent. As much as
            I hate disappointing a customer for not being able to prepare it manually, I’d equally dislike serving a
            subpar pour over coffee. On the flip side though, when it’s a quiet moment in the day and I can focus 100%
            of my attention on the brew bar, I’m more than happy to prepare and serve a manual pour over.” Dani is
            keeping a Brew Journal at Coffee & Stories. Go check it out to see what coffee he’s been brewing and get
            inspired.
        </p>
    </article>
</main>

{% include 'parts/_foot.html' %}