{% set title="CoffePlanet" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

<main class="wrapper">
    <article class="blog">
        <h2 class="blog__head">
            Latest Blog Posts
        </h2>
        <ul class="blog__article article ul-reset">
            <li class="article__post">
                <source srcset="img/blog/webp/img-blog-1.webp" type="image/webp">
                <img src="img/blog/jpeg/img-blog-1.jpg" alt="article image" class="article__img">
                <a href="#" class="article__link">Oat Milk — Coffee's Eco-Friendly
                    Companion</a><br>
                <time class="article__date" datetime="2020-06-02">Jul 2, 2020</time>
            </li>
            <li class="article__post">
                <source srcset="img/blog/webp/img-blog-2.webp" type="image/webp">
                <img src="img/blog/jpeg/img-blog-2.jpg" alt="article image" class="article__img">
                <a href="#" class="article__link">How to Market Your Cafe as an Ideal Place to Work</a><br>
                <time class="article__date" datetime="2020-06-02">Jul 2, 2020</time>
            </li>
            <li class="article__post">
                <source srcset="img/blog/webp/img-blog-3.webp" type="image/webp">
                <img src="img/blog/jpeg/img-blog-3.jpg" alt="article image" class="article__img">
                <a href="#" class="article__link">Tips for Creating an Effective Cafe Branding Strategy</a><br>
                <time class="article__date" datetime="2020-02-25">Feb 25, 2020</time>
            </li>
            <li class="article__post">
                <source srcset="img/blog/webp/img-blog-4.webp" type="image/webp">
                <img src="img/blog/jpeg/img-blog-4.jpg" alt="article image" class="article__img">
                <a href="#" class="article__link">Unlock the Power of Social Media Marketing for Your Cafe</a><br>
                <time class="article__date" datetime="2020-02-22">Feb 22, 2020</time>
            </li>
            <li class="article__post">
                <source srcset="img/blog/webp/img-blog-5.webp" type="image/webp">
                <img src="img/blog/jpeg/img-blog-5.jpg" alt="article image" class="article__img">
                <a href="#" class="article__link">The Pros and Cons Experienced by Coffee Professionals</a><br>
                <time class="article__date" datetime="2020-01-23">Jan 23, 2020</time>
            </li>
            <li class="article__post">
                <source srcset="img/blog/webp/img-blog-6.webp" type="image/webp">
                <img src="img/blog/jpeg/img-blog-6.jpg" alt="article image" class="article__img">
                <a href="#" class="article__link">Bangkok Cafe and Neighbourhood Guide</a><br>
                <time class="article__date" datetime="2019-01-08">Jan 8, 2019</time>
            </li>
            <li class="article__post">
                <source srcset="img/blog/webp/img-blog-7.webp" type="image/webp">
                <img src="img/blog/jpeg/img-blog-7.jpg" alt="article image" class="article__img">
                <a href="#" class="article__link">Tel Aviv Specialty Coffee and Travel
                    Guide</a><br>
                <time class="article__date" datetime="2018-12-08">Dec 8, 2018</time>
            </li>
            <li class="article__post">
                <source srcset="img/blog/webp/img-blog-8.webp" type="image/webp">
                <img src="img/blog/jpeg/img-blog-8.jpg" alt="article image" class="article__img">
                <a href="#" class="article__link">7 Easy Ways to Increase Your Cafe’s Foot Traffic</a><br>
                <time class="article__date" datetime="2018-11-16">Nov 16, 2018</time>
            </li>
            <li class="article__post">
                <source srcset="img/blog/webp/img-blog-9.webp" type="image/webp">
                <img src="img/blog/jpeg/img-blog-9.jpg" alt="article image" class="article__img">
                <a href="#" class="article__link">Chemex Coffee Maker — Review and Brew Guide</a><br>
                <time class="article__date" datetime="2018-11-15">Nov 15, 2018</time>
            </li>
    </article>
    <nav class="blog__navigation navigation">
        <a href="#" class="navigation__link">&lt;</a>
        <a href="#" class="navigation__link">1</a>
        <a href="#" class="navigation__link">2</a>
        <a href="#" class="navigation__link">3</a>
        <span class="navigation__space">...</span>
        <a href="#" class="navigation__link">9</a>
        <a href="#" class="navigation__link active">&gt;</a>
    </nav>
</main>

{% include 'parts/_foot.html' %}