{% set title="CoffePlanet" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

<aside class="banner">
    <div class="wrapper">
        <p class="banner__text">
            More than simple coffee
        </p>
        <nav class="banner__navigation">
            <button class="banner__btn banner__btn_colored">
                Book a table
            </button>
            <button class="banner__btn banner__btn_trans">
                Watch video
            </button>
        </nav>
    </div>
</aside>

<main class="wrapper">
    <h1 class="sr-only">
        Coffee Planet is the best coffe place in the Souther Carolina
    </h1>
    <section id="menu" class="menu">
        <h2 class="menu__h main-heading">
            Make a choice
        </h2>
        <p class="menu__text">
            We promise that you'll be delighted with a cozy atmosphere and an excellent selection of drinks and snacks
        </p>
        <ul class="menu__tabs tabs">
            <li class="tabs__item">
                <a class="tabs__link" href="#coffee">coffee</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="#sweets">sweets</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="#snacks">snacks</a>
            </li>
        </ul>
        <u class="menu__content tabs-content">
            <li id="coffee" class="tabs-content__section">
                <ul class="tabs-content__wrap">
                    <li class="product">
                        <img src="img/coffee-products/blonde-cap.jpg" alt="" class="product__pic">
                        <h2 class="product__name">Blonde Cappuccino</h2>
                        <p class="product__price">$5</p>
                    </li>
                    <li class="product">
                        <img src="img/coffee-products/blonde-lat.jpg" alt="" class="product__pic">
                        <h2 class="product__name">Blonde Cappuccino</h2>
                        <p class="product__price">$3</p>
                    </li>
                    <li class="product">
                        <img src="img/coffee-products/mocha.jpg" alt="" class="product__pic">
                        <h2 class="product__name">Dark Chocolate Mocha</h2>
                        <p class="product__price">$4</p>
                    </li>
                    <li class="product">
                        <img src="img/coffee-products/oat-lat.jpg" alt="" class="product__pic">
                        <h2 class="product__name">Oatmilk Honey Latte</h2>
                        <p class="product__price">$5</p>
                    </li>
                </ul>
            </li>
            <li id="sweets" class="tabs-content__section">
                <ul class="tabs-content__wrap">
                    <li class="product">
                        <img src="" alt="" class="product__pic">
                        <h2 class="product__name"></h2>
                        <p class="product__price"></p>
                    </li>
                    <li class="product">
                        <img src="" alt="" class="product__pic">
                        <h2 class="product__name"></h2>
                        <p class="product__price"></p>
                    </li>
                    <li class="product">
                        <img src="" alt="" class="product__pic">
                        <h2 class="product__name"></h2>
                        <p class="product__price"></p>
                    </li>
                    <li class="product">
                        <img src="" alt="" class="product__pic">
                        <h2 class="product__name"></h2>
                        <p class="product__price"></p>
                    </li>
                </ul>
            </li>
            <li id="snacks" class="tabs-content__section">
                <ul class="tabs-content__wrap">
                    <li class="product">
                        <img src="" alt="" class="product__pic">
                        <h2 class="product__name"></h2>
                        <p class="product__price"></p>
                    </li>
                    <li class="product">
                        <img src="" alt="" class="product__pic">
                        <h2 class="product__name"></h2>
                        <p class="product__price"></p>
                    </li>
                    <li class="product">
                        <img src="" alt="" class="product__pic">
                        <h2 class="product__name"></h2>
                        <p class="product__price"></p>
                    </li>
                    <li class="product">
                        <img src="" alt="" class="product__pic">
                        <h2 class="product__name"></h2>
                        <p class="product__price"></p>
                    </li>
                </ul>
            </li>
        </u>

    </section>
</main>

{% include 'parts/_foot.html' %}