{% set title="CoffePlanet" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

<aside class="banner">
    <div class="wrapper">
        <p class="banner__text">
            More than simple coffee
        </p>
        <nav class="banner__navigation">
            <button class="banner__btn banner__btn_colored">
                Book a table
            </button>
            <button class="banner__btn banner__btn_trans">
                Watch video
            </button>
        </nav>
    </div>
</aside>

{% include 'parts/_foot.html' %}