{% set title="CoffePlanet" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

<aside class="banner">
    <div class="wrapper">
        <p class="banner__text">
            More than simple coffee
        </p>
        <nav class="banner__navigation">
            <button class="banner__btn banner__btn_colored">
                Book a table
            </button>
            <button class="banner__btn banner__btn_trans">
                Watch video
            </button>
        </nav>
    </div>
</aside>

<main class="wrapper">
    <h1 class="sr-only">
        Coffee Planet is the best coffe place in Souther Carolina
    </h1>
    <section id="menu" class="menu">
        <h2 class="menu__h main-heading">
            Make a choice
        </h2>
        <p class="menu__text">
            We promise that you'll be delighted with a cozy atmosphere and an excellent selection of drinks and snacks
        </p>
        <ul class="menu__tabs tabs ul-reset">
            <li class="tabs__item active">
                <a class="tabs__link" href="#coffee">coffee</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="#sweets">sweets</a>
            </li>
            <li class="tabs__item">
                <a class="tabs__link" href="#snacks">snacks</a>
            </li>
        </ul>
        <ul class="menu__content tabs-content ul-reset">
            <li id="coffee" class="tabs-content__section active">
                <ul class="tabs-content__wrap ul-reset">
                    <li class="product">
                        <img class="product__pic" src="img/coffee-products/blonde-cap.jpg"
                            alt="A picture of Blonde Cappuccino">
                        <h2 class="product__name">Blonde Cappuccino</h2>
                        <p class="product__price">$5</p>
                    </li>
                    <li class="product">
                        <img class="product__pic" src="img/coffee-products/blonde-lat.jpg"
                            alt="A picture of Coconutmilk  Latte">
                        <h2 class="product__name">Coconutmilk Latte</h2>
                        <p class="product__price">$3</p>
                    </li>
                    <li class="product">
                        <img class="product__pic" src="img/coffee-products/mocha.jpg"
                            alt="A picture of Dark Chocolate Mocha">
                        <h2 class="product__name">Dark Chocolate Mocha</h2>
                        <p class="product__price">$4</p>
                    </li>
                    <li class="product">
                        <img class="product__pic" src="img/coffee-products/oat-lat.jpg"
                            alt="A picture of Oatmilk Honey Latte">
                        <h2 class="product__name">Oatmilk Honey Latte</h2>
                        <p class="product__price">$5</p>
                    </li>
                </ul>
            </li>
            <li id="sweets" class="tabs-content__section">
                <ul class="tabs-content__wrap ul-reset">
                    <li class="product">
                        <img class="product__pic" src="img/sweet-products/donut.jpg" alt="A picture of Donuts">
                        <h2 class="product__name">Donuts</h2>
                        <p class="product__price">$5</p>
                    </li>
                    <li class="product">
                        <img class="product__pic" src="img/sweet-products/macaron.jpg" alt="A picture of Macarons">
                        <h2 class="product__name">Macarons</h2>
                        <p class="product__price">$3</p>
                    </li>
                    <li class="product">
                        <img class="product__pic" src="img/sweet-products/truffle.jpg" alt="A picture of Truffles">
                        <h2 class="product__name">Truffles</h2>
                        <p class="product__price">$4</p>
                    </li>
                    <li class="product">
                        <img class="product__pic" src="img/sweet-products/choco.jpg" alt="A picture of Chocolate">
                        <h2 class="product__name">Chocolate</h2>
                        <p class="product__price">$5</p>
                    </li>
                </ul>
            </li>
            <li id="snacks" class="tabs-content__section">
                <ul class="tabs-content__wrap ul-reset">
                    <li class="product">
                        <img class="product__pic" src="img/snack-products/burger.jpg" alt="A picture of Burger">
                        <h2 class="product__name">Burger</h2>
                        <p class="product__price">$5</p>
                    </li>
                    <li class="product">
                        <img class="product__pic" src="img/snack-products/popcorn.jpg" alt="A picture of Popcorn">
                        <h2 class="product__name">Popcorn</h2>
                        <p class="product__price">$3</p>
                    </li>
                    <li class="product">
                        <img class="product__pic" src="img/snack-products/hummus.jpg" alt="A picture of Hummus">
                        <h2 class="product__name">Hummus</h2>
                        <p class="product__price">$4</p>
                    </li>
                    <li class="product">
                        <img class="product__pic" src="img/snack-products/hotdog.jpg" alt="A picture of Hot Dog">
                        <h2 class="product__name">Hot Dog</h2>
                        <p class="product__price">$5</p>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</main>

{% include 'parts/_foot.html' %}