@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';

/* Set defaults */

html,
body{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	font-family: 'Montserrat', 'Open Sans', 'Arial', sans-serif;
	margin: 0 auto;
	max-width: 1920px;
	font-size: 16px;
	font-weight: @fontNormal;
	line-height: 1.5;
}

.btn-reset{
	appearance: none;
  	border-radius: 0;
  	opacity: 1;
	border: none;
	background-color: transparent;
	font: inherit;
	cursor: pointer;
}

::-webkit-scrollbar{
	width: 10px;
	height: 5px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: @colorGreenDeep;
}

.ul-reset{
	list-style: none;
}

.input{
	font: inherit;
	appearance: none;
	opacity: 1;
	transition: @transT;
	&:focus{
		outline: none;
		box-shadow: 1px 1px 30px 1px rgba(60,86,166, 0.3);
	}
}

img,
video{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}


/* Atomic */

.d-n{
	display: none;
}

.d-b{
	display: block;
}

.d-f{
	display: flex;
}

.ttu{
	text-transform: uppercase;
}

.ta-c{
	text-align: center;
}

.ov-h{
	overflow: hidden;
}

.ov-s{
	overflow: scroll;
}

.black{
	color: #000;
}

/* Global */

.wrapper{
	.wrapper();
}

.row{
	.row-flex();
}

.col{
	.col();
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-heading {
	font-size: 48px;
	margin: 0;
	text-align: center;
}

/* General HEADER */

.main-header {
	padding-top: 45px;
	position: relative;
	width: 100%;

	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.main-navigation {
	display: flex;
	align-items: baseline;

	&__links {
		display: flex;
		align-items: baseline;

		&-tels {
			padding: 0;
			margin-left: 55px;
		}
	}

	&__item {

		& + & {
			margin-left: 20px;
		}

		&::after {
			content: '';
			display: block;
			width: 0;
			border-bottom: 1px solid @colorGreenLight;
		}

		&:hover::after {
			width: 100%;
			transition: width @transT;
		}
	}

	&__link {
		color: #000000;
		font-family: Montserrat;
		font-style: normal;
		font-weight: @fontNormal;
		font-size: 14px;
		line-height: 17px;
	}	
}

/* General BANNER */

.banner {
	margin-top: -80px;
	padding-top: 165px;
	padding-bottom: 270px;
	background-image: url(../img/first-screen-bg.jpg);
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;

	&__text {
		font-size: 90px;
		line-height: 110px;
		.size(7);
		margin: 0;
		margin-bottom: 55px;
	}

	&__btn {
		.btn-reset();
		height: 56px;
		font-weight: @fontSBold;
		padding: 0 55px;
		border-radius: 50px;
		vertical-align: bottom;

		&_colored {
			background-color: @colorGreenDeep;
			box-shadow: 0px 7px 21px rgba(55, 125, 60, 0.3);
			color: #fff;
			transition: @transT;

			&:focus {
				box-shadow: 0 0 0 2px #304431, 0 0 3px 5px #5B815D;
			}

			&:hover, &:active {
				background-color: @colorGreenLight;
			}
		}

		&_trans {
			margin-left: 20px;
			border: 2px solid @colorGreenLight;
			transition: @transT;

			&:focus {
				box-shadow: 0 0 0 2px #304431, 0 0 3px 5px #5B815D;
			}

			&:hover, &:active {
				background-color: @colorGreenLight;
				color:#fff;
			}
		}
	}
}

/* General TABMENU */


