@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
@import '../../node_modules/slick-carousel/slick/slick.less';

/* Set defaults */

html,
body{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	font-family: 'Montserrat', 'Open Sans', 'Arial', sans-serif;
	margin: 0 auto;
	max-width: 1920px;
	font-size: 16px;
	font-weight: @fontNormal;
	line-height: 1.5;
}

.btn-reset{
	appearance: none;
  	border-radius: 0;
  	opacity: 1;
	border: none;
	background-color: transparent;
	font: inherit;
	cursor: pointer;
}

::-webkit-scrollbar{
	width: 10px;
	height: 5px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: @colorGreenDeep;
}

.ul-reset{
	list-style: none;
}

.input{
	font: inherit;
	appearance: none;
	opacity: 1;
	transition: @transT;
	&:focus{
		outline: none;
		box-shadow: 1px 1px 30px 1px rgba(60,86,166, 0.3);
	}
}

img,
video{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}


/* Atomic */

.d-n{
	display: none;
}

.d-b{
	display: block;
}

.d-f{
	display: flex;
}

.ttu{
	text-transform: uppercase;
}

.ta-c{
	text-align: center;
}

.ov-h{
	overflow: hidden;
}

.ov-s{
	overflow: scroll;
}

.black{
	color: #000;
}

/* Global */

.wrapper{
	.wrapper();
}

.row{
	.row-flex();
}

.col{
	.col();
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-heading {
	font-size: 48px;
	margin: 0;
	text-align: center;
	line-height: 1.1;
	.media-max(500px, {
		font-size: 40px;
	});
}

.clearfix::before,
.clearfix::after {
	content:'';
	display: block;
	clear: both;
}

.btn-mobile {
	display: none;
	padding: 0;
	margin: 0;
	@size: 20px;
	width: @size;
	height: @size;
	@borderWdith: 2px;
	border: none;
	border-top: @borderWdith solid #000;
	background-color: transparent;
	position: relative;
	transition: @transT;


	&::before,
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: @borderWdith;
		background-color: black;
		position: absolute;
		left: 0;
		transition: @transT;
	}

	&::before {
		top: 50%;
		transform: translateY(-50%);
	}

	&::after {
		bottom: 0;
	}

	&:hover {
		border-top-color: @colorGreenDeep;
	}

	&:hover::before,
	&:hover::after {
		background-color: @colorGreenDeep;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px #304431, 0 0 3px 5px #5B815D;
	}

	&.is-open {
		position: fixed;
		top: 20px;
		right: 20px;
		border-top-color: transparent;

		&::after {
			bottom: 50%;
			transform: translateY(50%) rotate(-45deg);
		}

		&::before {
			transform: translateY(-50%) rotate(45deg);
		}
	}

	.media-max(777px, {
		display: inline-block;
		vertical-align: middle;
	});
}


/* General HEADER */

.main-header {
	padding-top: 45px;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	transition: @transT;
	.media-max(520px, {
		padding-top: 30px;
	});

	&.scrolled {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #fff;
		z-index: 100;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.main-navigation {
	display: flex;
	align-items: baseline;

	.media-max(777px, {
		display: none;
	});

	&__links {
		display: flex;
		align-items: baseline;
		padding-inline-start: 0;

		&-tels {
			padding: 0;
			margin-left: 55px;
			
		}
	}

	&__item {

		& + & {
			margin-left: 20px;
		}

		&::after {
			content: '';
			display: block;
			width: 0;
			border-bottom: 1px solid @colorGreenLight;
		}

		&:hover::after {
			width: 100%;
			transition: width @transT;
		}
	}

	&__link {
		color: #000000;
		font-family: Montserrat;
		font-style: normal;
		font-weight: @fontNormal;
		font-size: 14px;
		line-height: 17px;

		&:focus {
			outline: none;
			box-shadow: 0 0 0 2px #304431, 0 0 3px 5px #5B815D;
		}
	}
	
	&.is-open {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;

		.main-navigation__links {
			margin: 0;
			flex-direction: column;
			text-align: center;
			align-items: stretch;

			li + li {
				margin-left: 0;
				margin-top: 20px;
				font-style: 18px;
				font-weight: @fontSBold;
				text-align: center;
			}

			a {
				font-style: 18px;
				font-weight: @fontSBold;
			}
		}
		
		.main-navigation__links-tels {
			margin-top: 20px;
		}
	}
}

/* General BANNER */

.banner {
	margin-top: -80px;
	padding-top: 165px;
	padding-bottom: 270px;
	background-image: url(../img/first-screen-bg.jpg);
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	.media-max(520px, {
		padding-top: 120px;
		padding-bottom: 165px;
	});

	&__text {
		align-items: center;
		font-size: 6.25vw;
		line-height: 110px;
		.size(7);
		line-height: 1.2;
		.media-max(830px, {
			font-size: 53px;
			.size(8);
			margin-bottom: 25px;
		});
	}

	&__navigation {
		.media-max(830px, {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		});
	}

	&__btn {
		.btn-reset();
		height: 56px;
		font-weight: @fontSBold;
		padding: 0 55px;
		border-radius: 50px;
		vertical-align: bottom;

		&_colored {
			background-color: @colorGreenDeep;
			box-shadow: 0px 7px 21px rgba(55, 125, 60, 0.3);
			color: #fff;
			transition: @transT;

			&:focus {
				outline: none;
				box-shadow: 0 0 0 2px #304431, 0 0 3px 5px #5B815D;
			}

			&:hover, &:active {
				background-color: @colorGreenLight;
			}
		}

		&_trans {
			margin-left: 20px;
			border: 2px solid @colorGreenLight;
			transition: @transT;
			.media-max(830px, {
				margin-left: 0;
				margin-top: 20px;
			});

			&:focus {
				outline: none;
				box-shadow: 0 0 0 2px #304431, 0 0 3px 5px #5B815D;
			}

			&:hover, &:active {
				background-color: @colorGreenLight;
				color:#fff;
			}
		}
	}
}

/* General TABMENU */

.menu {
	padding: 170px 0 85px 0;
	.media-max(750px, {
		padding: 85px 0 20px 0;
	});

	&__h {
		margin-bottom: 25px;
		font-weight: @fontNormal;
		.media-max(500px, {
			margin-bottom: 15px;
		});
	}

	&__text {
		width: 50%;
		text-align: center;
		margin: 0 auto 50px;
		font-size: 14px;
		line-height: 22px;
		color: @colorGreyTex;
	}

	&__tabs {
		margin-bottom: 35px;
	}

	&__content {
		padding-left: 0;
	}
}

.tabs {
	display: flex;
	justify-content: center;
	padding: 0;
	min-width: 280px;
	overflow-x: auto;

	&__item {
		@offset: 4px;
		padding-left: @offset;
		padding-right: @offset;

		& + & {
			margin-left: 70px;
			.media-max(600px, {
				margin-left: 30px;
			});
		}

		&::after {
			content: '';
			display: block;
			width: 0;
			border-bottom: 2px solid @colorGreenLight;
		}

		&:hover::after {
			width: 100%;
			transition: width @transT;
		}

		&.active {
			border-bottom: 2px solid @colorGreenLight;

			a {
				color: @colorGreenDeep;
			}

			&:hover::after {
				opacity: 0;
			}
		}
		

	}

	&__link {
		color: #000;
		font-weight: @fontSBold;
	}
}

.tabs-content {

	&__section {
		display: none;

		&.active {
			display: block;
		}
	}

	&__wrap {
		padding-left: 0;
		.row-flex();
		.xs-block({
			justify-content: center;
		})
	}
}

.product {
	.col();
	.size(3);
	.size-md(4);
	.size-sm(6);
	.size-xs(10);
	margin-bottom: 20px;
	text-align: center;

	&__pic {
		margin-bottom: 24px;
		width: 100%;
		.media-max(650px, {
			margin-bottom: 10px;
		});
	}

	&__name {
		font-size: 16px;
		line-height: 22px;
		color: #000;
		margin: 0;
		margin-bottom: 8px;
		font-weight: @fontNormal;
	}

	&__price {
		font-size: 16px;
		font-weight: @fontBold;
		line-height: 22px;
		color: @colorGreenDeep;
		.media-max(650px, {
			margin-bottom: 0;
		});
	}
}

/* ABOUT */

.about {
	padding-top: 95px;
	.media-max(750px, {
		padding-top: 10px;
	});
	.media-max(750px, {
		display: flex;
		flex-direction: column;
	});

	&__slider  {
		width: 50%;
		float: left;
		padding: 0 20px 35px 0;
		.media-max(960px, {
			padding: 0 20px 5px 0;
		});
		.media-max(750px, {
			float: none;
			max-width: 568px;
			width: 100%;
			margin: 0 auto;
		});
	}

	&__text {
		p:nth-child(1){
			padding-bottom: 24px;
			.media-max(750px, {
				padding-bottom: 10px;
			});
		}

		p:nth-child(2){
			padding-bottom: 87px;
			.media-max(750px, {
				padding-bottom: 10px;
			});
		}

		p:nth-child(3){
			padding-bottom: 20px;
			.media-max(750px, {
				padding-bottom: 20px;
			});
		}
	}

	&__para {
		margin: 0;
		text-align: justify;
		width: 100%;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 21px;
	}

	&__head {
		margin: 20px 0 45px 0;
		font-weight: normal;
		font-size: 48px;
		line-height: 59px;
		.media-max(500px, {
			font-size: 40px;
		});
		.media-max(750px, {
			margin: 20px 0 20px 0;
			text-align: center;
			order: -1;
		});
	}

	&__link {
		position: relative;
		color: @colorGreenDeep;
		
		&::after {
			position: absolute;
			content: '';
			height: 1px;
			right: 0;
			left: 0;
			top: 23px;
			background: @colorGreenLight;
		}

		&:hover::after,
		&:active::after,
		&:focus::after {
			opacity: 0;
		}
	}
}

.slider {
	&__slides {
		.media-max(750px, {
			display: block;
			margin-left: auto;
			margin-right: auto;
		});
	}

	&__buttons {
		padding-top: 15px;
		display: flex;
		justify-content: flex-end;
	}
}

.button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 20px;
	padding: 0;
	display: flex;
	justify-content: center;
	fill: @colorGreenDeep;
	
	&:hover {
		path {
			fill: black;
		}
	}

	&-left {
		transform: rotate(-180deg);
		margin-right: 15px;
	}

}


/* FEATURES */

.features {
	padding-top: 225px;
	.media-max(750px, {
		padding-top: 100px;
	});

	&__item {
		padding-top: 20px;
		border-right: thin solid #dddddd;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 25%;
		height: 100%;
		.media-max(700px, {
			width: 50%;
			&:nth-child(n+3){
				border-top: thin solid #dddddd;
			}
			&:nth-child(2){
				border-right: none;
			}
		});

		&:last-child {
			border-right: 0;
		}
	}

	&__head {
		margin: 0;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		line-height: 59px;
		.media-max(500px, {
			font-size: 40px;
		});
	}

	&__text {
		padding-top: 25px;
		text-align: center;
		width: 50%;
		margin: 0 auto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
	}

	&__offer {
		padding-top: 74px;
		display: flex;
		flex-wrap: wrap;
		.media-max(700px, {
			padding-top: 40px;
		});
	}
	
	&__subhead {
		font-style: normal;
		text-align: center;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		.media-max(400px, {
			font-size: 14px;
		});
	}
}

/* VISITORS */

.visitors {
	padding-top: 225px;
	.media-max(750px, {
		padding-top: 130px;
	});

	&__head {
		padding-bottom: 60px;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		line-height: 59px;
		margin: 0;
		.media-max(500px, {
			font-size: 40px;
		});
		.media-max(750px, {
			padding-bottom: 10px;
		});
	}

	&__slider {
		position: relative;
	}

	&__board {
		display: flex;
		justify-content: space-between;
		.media-max(750px, {
			display: block;
		});
	}

	.arrow {
		cursor: pointer;
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		width: 70px;
		height: 90px;
		border: none;
		background-color: transparent;
		display: none;
		.media-max(768px, {
			display: block;
		})
	}
	  
	.left {
		left: -2%;
	}
	  
	.right {
		right: -2%;
	}
	  
	.left:hover polyline,
	.left:focus polyline {
		stroke-width: 3;
	}
	  
	.left:active polyline {
		stroke-width: 6;
		transition: all 100ms ease-in-out;
	}
	  
	.right:hover polyline,
	.right:focus polyline {
		stroke-width: 3;
	}
	  
	.right:active polyline {
		stroke-width: 6;
		transition: all 100ms ease-in-out;
	}
	  
	polyline {
		transition: all 250ms ease-in-out;
		stroke: @colorGreenDeep;
	}
}

.board {
	position: relative;
	.media-max(750px, {
		article:nth-child(2) {
			display: none;
		}
		article:nth-child(3) {
			display: none;
		}
	});
	&__review {
		padding: 70px 30px;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		.size(4);
		.col();
		.media-max(750px, {
			padding: 35px 40px;
			box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			.size(12);
			.col();
		});
		.media-max(320px, {
			display: flex;
			flex-direction: column;
			align-items: center;
		});
	}

	&__userpic {
		margin-bottom: 38px;
		.media-max(750px, {
			float: left;
			margin-right: 10px;
			margin-bottom: 15px;
		});
		.media-max(320px, {
			width: 50%;
		});
	}

	&__username {
		margin-bottom: 21px;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: @colorGreyCon;
		.media-max(320px, {
			font-size: 14px;
			margin: 0;
		});
	}

	&__comment {
		margin-bottom: 32px;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 147.1%;
		color: @colorGreyCon;
		.media-max(750px, {
			margin-bottom: 10px;
		});
		.media-max(320px, {
			font-size: 12px;
			text-align: justify;
		});
	}

	&__date {
		font-style: italic;
		font-weight: normal;
		font-size: 16px;
		line-height: 147.1%;
		color: @colorGreyDat;
		.media-max(750px, {
			display: flex;
			justify-content: flex-end;
		});
		.media-max(320px, {
			font-size: 12px;
		});
	}

	button {
		-webkit-appearance: none;
		background: transparent;
		border: 0;
		outline:0;
		display: none;
		.media-max(750px, {
			display: block;
		});
	}
	  
	svg {
		padding: 5px;
	}
}

/* FOOTER */

.contacts {
	padding-top: 170px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.media-max(750px, {
		flex-direction: column;
		padding-top: 30px;
	});

	&__info {
		padding: 70px 0;
		.size(4);
		.col();
		.media-max(750px, {
			.size(12);
			.col();
			padding: 35px 0 0;
		});
	}

	&__head {
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		line-height: 59px;
		margin-bottom: 60px;
		margin: 0;
		.media-max(750px, {
			text-align: center;
		});
		.media-max(320px, {
			font-size: 40px;
		});
	}

	&__address {
		margin-top: 60px;
		padding: 0;
		.media-max(750px, {
			margin-top: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
		});
		.media-max(320px, {
			font-size: 14px;
		});
	}

	&__link {
		display: block;
		margin-top: 30px;

		& + & {
			margin-left: 10px;
		}

		&:hover,
		&:active,
		&:focus {
			path {
				fill: @colorGreenLight;
			}
		}
	}

	&__socmed {
		display: flex;
		.media-max(750px, {
			justify-content: center;
		});
	}

	&__item {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;

		&-time {
			background: url('../templates/parts/svgo/timeicon.svg') no-repeat left top;
			padding-left: 30px;
			margin-bottom: 18px;
			.media-max(320px, {
				margin: 5px 0;
			});
		}

		&-street {
			background: url('../templates/parts/svgo/ico-adress.svg') no-repeat left top;
			padding-left: 30px;
			margin-bottom: 18px;
			.media-max(320px, {
				margin: 5px 0;
			});
		}

		&-tel {
			background: url('../templates/parts/svgo/phoneicon.svg') no-repeat left top;
			padding-left: 30px;
			margin-bottom: 18px;
			.media-max(320px, {
				margin: 5px 0;
			});

			a {
				color: black;
			}
		}

		&-mail {
			background: url('../templates/parts/svgo/mailicon.svg') no-repeat left top;
			padding-left: 30px;
			.media-max(320px, {
				margin: 5px 0;
			});

			a {
				color: black;
			}
		}
	}

	&__map {
		.size(8);
		.col();
		.media-max(750px, {
			.size(12);
			.col();
		});
	}

	&__copyrights {
		margin: 50px auto 36px;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: @colorGreyTex;
		.media-max(750px, {
			margin: 20px auto 20px;
		});
	}

	&__link {
		display: block;
	}
}	

/* MODAL-OVERLAY */

.modal-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 101;

	&__close {
		padding: 0;
		position: absolute;
		top: 3%;
		right: 10%;
		.btn-reset();
		@size: 25px;
		width: @size;
		height: @size;

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			border-bottom: 2px solid #fff;
			top: 50%;
			margin-top: -1px;
			width: 100%;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	&.active {
		display: block;

	}
}

.modal {
	display: none;
	padding: 10px;
	width: 97%;
	min-height: 50%;
	max-width: 964px;
	position: absolute;
	background-color: #fff;
	border-radius: 4px;
	max-height: 70%;
	overflow-y: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	&.active {
		display: block;
	}
}

.modal-form {
	box-sizing: border-box;
	max-height: 85vh;

	&__head {
		text-align: center;
		margin-top: 60px;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		line-height: 59px;
	}

	&__text {
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 21px;
		color: @colorGreyTex;
	}

	&__name {
		margin-top: 30px;
		text-align: center;
	}

	&__phone {
		margin-top: 20px;
		text-align: center;
	}

	&__button {
		display: block;
		.btn-reset();
		height: 56px;
		font-weight: @fontSBold;
		padding: 0 85px;
		border-radius: 50px;
		background-color: @colorGreenDeep;
		box-shadow: 0px 7px 21px rgba(55, 125, 60, 0.3);
		color: #fff;
		transition: @transT;	
		margin: 50px auto 90px;

		&:focus {
			outline: none;
			box-shadow: 0 0 0 2px #304431, 0 0 3px 5px #5B815D;
		}

		&:hover, &:active {
			background-color: @colorGreenLight;
		}
	}

	input {
		width: 100%;
		border: 0;
		border-bottom: 1px solid #000;
	}

	label {
		display: block;
		text-align: left;
		width: 40%;
		margin: 0 auto;
	}
}

.modal-video {
	padding: 55px 90px;
	max-height: 85vh;
}

.modal-alert {
	background-image: url(../img/icons/ico-ok.jpg);
	background-size: 60px;
	background-repeat: no-repeat;
	background-position: right 50% bottom 70%;
	max-height: 95vh;

	&__text {
		margin: 0;
		margin-top: 230px;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		line-height: 59px;
	}

	&__comment {
		margin-top: 20px;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
	}
}

/* BLOG */

.blog {
	margin-top: 180px;

	&__head {
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		line-height: 59px;
		margin-bottom: 50px;
	}
}

.article {
	.row();
	&__post {
		.col();
		.size(4);
		margin-bottom: 48px;
	}

	&__link {
		margin: 22px 0 12px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 24px;
	}

	&__date {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 16px;
		color: @colorGreyDat;
	}
}

.navigation {
	text-align: center;
	margin-bottom: -170px;

	&__link {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 16px;
		color: @colorGreyDat;
		margin-left: 15px;
	}

	&__space {
		margin-left: 15px;
	}
}

/* BLOGPOST */

.single-article {
	h1 {
		margin: 178px 0 8px 0;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		line-height: 59px;
	}
	time{
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 16px;
		color: @colorGreyDat;
	}
	figure {
		margin: 25px 0 50px 0;
	}
	p {
		font-family: Montserrat;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
	}
	h2 {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		line-height: 44px;
	}
	figcaption {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 16px;
		color: @colorGreyDat;
	}
	table {
		border: 1px solid grey;
		border-collapse: collapse;
	}
	td {
		border: 1px solid grey;
		padding: 5px;
	}
	th {
		border: 1px solid grey;
	}
	li {
		margin-top: 24px;
	}
}



