<footer id="contacts" class="contacts wrapper">
    <div class="contacts__info">
        <h2 class="contacts__head">Come to us!</h2>
        <ul class="contacts__address ul-reset">
            <li class="contacts__item-time">8:00-23:00</li>
            <li class="contacts__item-street">9532 W Linebaugh Ave, Tampa</li>
            <li class="contacts__item-tel">+1 253 867-54-13</li>
            <li class="contacts__item-mail">coffeeplanet@mail.com</li>
        </ul>
        <div class="contacts__socmed">

        </div>
    </div>
    <div class="contacts__map">
        <a class="contacts__link"
            href="https://www.google.com/maps/place/Coffee+Planet+Ballston+Spa/@42.581315,-74.1555308,6.12z/data=!3m1!5s0x89de40a3cf9f3087:0x84281064aba42821!4m9!1m2!2m1!1scoffee+planet+coffeeshop!3m5!1s0x0:0xbcc1e518bd30b474!8m2!3d43.0037723!4d-73.8486171!15sChhjb2ZmZWUgcGxhbmV0IGNvZmZlZXNob3AiA4gBAVoaIhhjb2ZmZWUgcGxhbmV0IGNvZmZlZXNob3CSAQtjb2ZmZWVfc2hvcJoBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VSNWJDMHRZa2xuRUFF"><img
                src="/src/img/map.jpg" alt="map"></a>
    </div>
    <p class="contacts__copyrights">Copyright 2019 CoffeePlanet</p>
</footer>
</body>

</html>