<header class="main-header">
    <div class="main-header__wrap wrapper">
        <a class="main-header__link" href="#">
            <img class="main-header__img" src="img/logo.png" alt="logotype of CoffePlanet">
        </a>
        <nav class="main-header__nav main-navigation">
            <ul class="main-navigation__links ul-reset">
                <li class="main-navigation__item">
                    <a class="main-navigation__link" href="#menu">Menu</a>
                </li>
                <li class="main-navigation__item">
                    <a class="main-navigation__link" href="#about">About</a>
                </li>
                <li class="main-navigation__item">
                    <a class="main-navigation__link" href="#features">Features</a>
                </li>
                <li class="main-navigation__item">
                    <a class="main-navigation__link" href="#contacts">Contacts</a>
                </li>
                <li class="main-navigation__item">
                    <a class="main-navigation__link" href="blog.html">Blog</a>
                </li>
            </ul>
            <ul class="main-navigation__links main-navigation__links-tels ul-reset">
                <li class="main-navigation__item">
                    <a class="main-navigation__link" href="tel:+12538675413">+1 253 867-54-13</a>
                </li>
            </ul>
        </nav>
        <button aria-label="open mobile menu" class="btn-mobile main-header__btn"></button>
    </div>
</header>